<p>Estimado cliente {{ clientName }},</p>
<p>El contenedor monitorieado por el dispositivo de ID: {{ id_PVI }} ubicado en la dirección <b>{{ containerAddress }}</b> ha sido detectado como lleno con fecha {{ docDate }}.<br>
El llenado es del <b>{{ fillingValue }}%</b>.</p>